<!DOCTYPE html>
<html lang="en">
<head>
    {% load tz %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ obj.title }}</title>
    <style>
    body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    padding: 50px;
    background-color: #424B54;
    color: #FFFFFF;
    font-size: large;
}
</style>
</head>
<body>

<h1>{{ obj.title }}</h1>

<h5>
    <span>By: {{ obj.author }}</span><br>
    <span>Date: {{ obj.date_of_post.date }}</span><br>

    {% timezone 'Asia/Kathmandu' %}
        <span>Last edited: {{ obj.last_updated }}</span>
    {% endtimezone %}
</h5>

<p>{{ obj.content }}</p>

<a href="{% url 'home' %}">Back to Home</a>

</body>
</html>
